body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

#background {
	background: fixed top center;
   -o-background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   opacity: .5;
}

a{
  color: #AFAFAF;
}
a:hover{
  text-decoration: none;
}
p code, li code{
  background-color: #F9F9F9;
  border: 1px solid #eee;
  font-size: 12px;
  padding: 2px 3px;
}
hr{
  border: 0;
  height: 1px;
  background-color: #5B5B5B;
  margin: 2em 1em;
}
.content{
  position: bottom;
  margin-left: 140px;
  width: 750px;
  margin-bottom: 90px;
}
.content ul{
  margin-left: -10px;
}
.content li{
  margin-bottom: 10px;
  color: #AFAFAF;
  list-style-type: square;
}
.related{
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif;
}
.related ul{
  margin: 0;
  padding: 0;
}
.related li{
  font-size: 18px;
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  color: #AFAFAF;
}
.related li span{
  float: right;
}
.related a{
  text-decoration: none;
}
.related a:hover{
  text-decoration: underline;
}
h1,h2,h3,h4{
  color: #AFAFAF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #C1C1C1;
}
h1 a, h2 a, h3 a, h4 a{
  color: #AFAFAF;
  text-decoration: none;
}
h1{
  font-size: 36px;
  margin-top: 18px;
  margin-bottom: .15em;
}
h2{
  font-size: 30px;
  margin-bottom: 15px;
}
h3{
  color: #AFAFAF;
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#header{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 90px;
  font-family: 'Ubuntu', sans-serif;
}
#header .avatar{
  margin-left: 2px;
  opacity: .8;
}
#header .avatar:hover{
  opacity: 1;
}
#header a{
  text-decoration: none;
}
#header #me{
  text-transform: uppercase;
  margin: 10px 0 20px 0;
}
#header #zach{
  padding-left: 1px;
  font-size: 23px;
  letter-spacing: 5px;
  color: #666;
}
#header #zach:hover {
  color: #000;
}
#header #holman{
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
}
#header .site{
}
#header .site img{
  padding: 0 3px;
  border: 0;
}

#header #sections{
  margin: 25px 0 0 -15px;
}
#header #sections div{
  margin-bottom: 7px;
}
#header #sections a{
  background-color: #000;
  padding: 3px 5px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
#header #sections a:hover{
  color: #ccc;
}


#post{
  padding-bottom: 30px;
  margin-bottom: 30px;
}
#post ul{
  font-size: 15px;
  margin: 20px 20px 20px 0;
}
#post li{
  line-height: 1.4em;
  margin-bottom: 1em;
  color: #222;
  list-style-type: square;
}
#post li code{
  border: 1px solid #ccc;
}
#post p{
  font-size: 16px;
  color: #AFAFAF;
  margin-top: 0;
  margin-bottom: 1.2em;
  line-height: 1.7em;
}
#post img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 610px;
  -webkit-box-shadow: 0px 0px 5px #555;
}
#post img.noclip{
  max-width: 650px !important;
  -webkit-box-shadow: none;
}
#post .aside{
  background-color: #eee;
  padding: 14px;
  font-size: 14px;
  margin: 5px 0 15px 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6em;
}
#post .aside strong{
}
#post .authoring{
  margin-bottom: 17px;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 0px;
  font-size: 17px;
  color: #C1C1C1;
}
#post blockquote{
  font-style: italic;
  font-size: 14px;
  padding: .25em 1em;
  margin: 1em 1em 0 1em;
  color: #444;
}
#post blockquote cite:before{
  content: '— ';
}
#post blockquote cite{
  display: block;
  margin-top: .5em;
  text-align: right;
  color: #111;
  font-style: normal;
}
/* --- disqus css -- */
#disqus_thread {
color: #ffffff;
border-style: 0px solid;
border-color: #cccccc;
padding: 5px;
}
#dsq-content #dsq-comments .dsq-comment-body {
color: #AFAFAF;
background-color: #5B5B5B;
}
.dsq-reaction-body {
color: #fff;
}
.dsq-reaction-header cite, .dsq-reaction-header span {
color: #ccc;
}
.dsq-reaction-retweets {
color: #ccc;
}
/*--- end disqus css --*/
